@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #937dc2;
  --violet: #c689c6;
}
body {
  font-family: "Inter", serif;
}
header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header nav {
  padding: 0px 70px;
  position: fixed;
  width: 100%;
  left: 0px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 2;
}
header nav > .links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.6vw;
}
header nav ul a {
  text-decoration: none;
  color: black;
}
header nav > .dark-holder {
  display: flex;
  align-items: center;
  gap: 5px;
}
header nav > .dark-holder img {
  cursor: pointer;
}
header nav img.burger-menu {
  display: none;
}
header nav .sidebar {
  width: 0px;
  height: 100vh;
  visibility: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: white;
  box-shadow: 0px 4px 5px 0px #00000040;
  transition: 0.5s ease;
}
header nav .sidebar img {
  cursor: pointer;
  padding: 30px 0px 0px 20px;
}
header nav .sidebar ul {
  list-style: none;
  padding: 50px 0px;
  border-bottom: 1px solid var(--primary);
}
header nav .sidebar li {
  padding: 20px;
  margin-bottom: 10px;
  transition: 0.5s;
}
header nav .sidebar li:hover {
  padding-left: 30px;
}
header nav .sidebar .dark-holder {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .sidebar .dark-holder .circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}
header .sidebar .dark-holder .oval {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 29px;
  height: 10px;
  border-radius: 13px;
  background-color: var(--primary);
}
@media (max-width: 1060px) {
  header nav img.burger-menu {
    display: block;
    cursor: pointer;
  }
  header nav > ul.links,
  header nav > .dark-holder {
    display: none;
  }
}
@media (max-width: 991px) {
  header nav .sidebar {
    height: 104vh;
  }
}
@media (max-width: 768px) {
  header nav {
    padding: 0px 35px;
  }
}
@media (max-width: 500px) {
  /* header {
    height: unset;
  } */
  header nav ul a {
    font-size: 14px;
  }
  header nav {
    padding: 0px 16px;
  }
}
/* hero */
.hero {
  padding-top: 80px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero > img {
  width: 362px;
  height: 455px;
}
.hero .text {
  flex-basis: 50%;
}
.hero .text span {
  display: block;
  width: fit-content;
  height: 40px;
  padding: 10px 14px;
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--violet);
  border-radius: 3px;
  border: 1px solid var(--violet);
}
.hero .text h1 {
  font-size: 48px;
}
.hero .text p {
  margin: 30px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
@media (max-width: 991px) {
  .hero > img {
    width: 300px;
  }
  .hero .text h1 {
    font-size: 30px;
  }
  .hero .text p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  header {
    height: unset;
  }
  .hero {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero .text {
    flex-basis: 100%;
  }
  .hero > img {
    margin-top: 30px;
    width: 362px;
    height: 455px;
  }
  .hero .text h1 {
    font-size: 48px;
  }
}
@media (max-width: 500px) {
  .hero {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero .text {
    flex-basis: 100%;
  }
  .hero > img {
    margin-top: 30px;
    width: 195px;
    height: 258px;
  }
  .hero .text h1 {
    font-size: 28px;
  }
}
/* suggestions */
.suggestions {
}
.suggestions .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px 30px;
}
.suggestions .cards.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggestions .cards .card {
}
.suggestions .cards .card > img {
  height: 372px;
}
.suggestions .cards .card > img,
.suggestions .cards .card button {
  width: 100%;
}
.suggestions .cards .card .title {
  font-size: 15px;
  font-weight: bold;
}
.suggestions .cards .card .infos {
  margin: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestions .cards .card .infos > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.suggestions .cards .card span {
  font-size: 14px;
}
.suggestions .card .book-icon {
  width: 18px;
  height: 18px;
}
.suggestions .card .star-icon {
  font-size: 16px;
  color: var(--primary);
}
.suggestions .cards .card button:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: white;
}
@media (max-width: 370px) {
  .suggestions .cards {
    grid-template-columns: none;
  }
}
/* dark styles */
body.dark {
  /* background-color: #16131e; */
  /* background-color: #0e0c14; */
  color: white;
  background-color: #09070c;
}
body.dark header nav ul a {
  color: white;
}
body.dark .suggestions .cards .card button:hover,
body.dark header nav .sidebar,
body.dark header nav {
  background-color: #09070c;
}
body.dark header nav {
  box-shadow: none;
  border-bottom: 1px solid var(--primary);
}
@media (max-width: 500px) {
  header,
  .suggestions,
  .contact {
    padding: 0px 16px;
  }
}
/* global rules */
header,
.suggestions,
.contact {
  padding: 0px 70px;
}
h2 {
  font-size: 40px;
  margin-bottom: 40px;
}
button,
input[type="submit"] {
  padding: 10px 30px;
  color: white;
  border-radius: 2px;
  border: none;
  background-color: var(--primary);
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 500px) {
  header,
  .suggestions,
  .contact {
    padding: 0px 16px;
  }
}
@media (max-width: 768px) {
  header,
  .suggestions,
  .contact {
    padding: 0px 35px;
  }
}
/* contact */
.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.contact .text {
  padding-top: 35px;
}
.contact .text,
.contact iframe {
  width: 50%;
}
.contact iframe {
  min-height: 468px;
}
.contact .text p {
  line-height: 24px;
}
.contact form {
  margin-top: 70px;
}
.contact form input:not([type="submit"]) {
  padding: 10px 0px;
  margin-bottom: 35px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary);
  background-color: transparent;
}
.contact form input::placeholder {
  color: var(--primary);
  font-weight: 400;
}
.contact input[type="submit"] {
  width: 100%;
}
@media (max-width: 991px) {
  .contact {
    flex-wrap: wrap;
  }
  .contact .text,
  .contact iframe {
    width: 100%;
  }
  .contact .text {
    padding-top: 0px;
  }
}
/* footer */

footer {
  height: 60px;
  padding: 18px 0px;
  text-align: center;
  border-top: 1px solid #937dc2;
}
/* HTML: <div class="loader"></div> */
/* loader */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--primary) 94%, #0000) top/8px
      8px no-repeat,
    conic-gradient(#0000 30%, var(--primary));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
